version: "3.7"
services:
  advent-php:
    build:
      dockerfile: Dockerfile
      context: .
    entrypoint: php -d xdebug.client_host=192.168.178.58 -d xdebug.client_port=9000 "${XDEBUG_USER_CONFIG:--d xdebug.discover_client_host=true}"
    environment:
      PHP_IDE_CONFIG: "serverName=advent-of-code"
    volumes:
      - .:/opt/project
  advent-composer:
    build:
      dockerfile: Dockerfile
      context: .
    entrypoint: composer
    volumes:
      - .:/opt/project
